.navbar {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    background-color: white !important;
    padding: 10px 20px !important;
    border-bottom: 1px solid #ccc !important; 
}

.logo {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
}

.logo img {
    width: 200px !important;
    height: auto !important;
}

.search-area {
    display: flex !important;
    align-items: center !important;
    position: relative !important;
}

.search-area input[type="text"] {
    padding: 5px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    margin-right: 5px !important;
}

.search-btn {
    background: none !important;
    border: none !important;
    cursor: pointer !important;
    padding: 5px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.search-btn svg {
    fill: #006C98 !important;
    width: 24px !important;
    height: 24px !important;
}

.search-btn:hover svg {
    fill: #004080 !important; 
}

.search-area .btn {
    margin-left: 5px !important;
    padding: 5px 10px !important; 
    border: none !important;
    border-radius: 4px !important; 
    cursor: pointer !important;
}

.pesquisar {
    background-color: #006C98 !important;
    color: #FCFCFC !important;
}

.limpar {
    background-color: #971C1F !important;
    color: #FCFCFC !important;
}

.filtros {
    background-color: #6c757d !important;
    color: #FCFCFC !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.filtros svg {
    margin-left: 5px !important;
    width: 12px !important;
    height: 12px !important;
    color: #FCFCFC !important;
}

.actions {
    display: flex !important;
    align-items: center !important;
}

.actions .btn {
    margin-left: 10px !important;
    padding: 5px 10px !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important; 
}


.mov-total {
    background-color: #006C98 !important; 
    color: #FCFCFC !important; 
    padding: 5px 10px !important; 
    border: none !important; 
    border-radius: 4px !important; 
    cursor: pointer !important; 
    transition: background-color 0.3s ease !important; 
}

.mov-total:hover {
    background-color: #4b8da79c !important; 
}

.add-item {
    background-color: #E9CE2C !important;
    color: #FCFCFC !important;
}

.add-item:hover {
    background-color: #c2b600 !important; 
}

.dropdown {
    position: absolute !important;  
    top: 100% !important;
    right: 0 !important; 
    background-color: #FCFCFC !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    margin-top: 5px !important;
    z-index: 1000 !important;
}

.dropdown-item {
    padding: 10px !important;
    width: 100% !important;
    text-align: left !important;
    border: none !important; 
    background: none !important;
    cursor: pointer !important;
}

.dropdown-item:hover {
    background-color: #DDE0E0 !important;
}
